.testimonies {
  background-color: var(--color-light-bg);
}
.testimonies-container {
  padding-block: 10rem;
  position: relative;
}

/* Swiper CSS Styling */

.swiper {
  width: 100%;
  height: 100%;
  position: unset;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination {
  transform: translateY(-55px);

  color: white;
}

.swiper-pagination-bullet-active {
  background: white;
}

.testimonies .underline::after {
  top: 69%;
}
