.testimonies {
  background-color: var(--color-light-bg);
}
.testimonies-container {
  padding-block: 8.4rem;
}

/* Swiper CSS Styling */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination {
  position: relative;
  transform: translateY(-10px);
  color: white;
}

.swiper-pagination-bullet-active {
  background: white;
}
