.btn {
  display: inline-block;
  padding: 1rem 1.8rem;
  border-radius: 9px;
  color: var(--color-light-text);
  text-align: center;
  font-family: var(--font-family-text);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-light {
  border: none;
  background: #83a9ac;
  transition: background 0.4s ease;
}
.btn-light:hover {
  background: #8eccd0;
}

.btn-dark {
  border: none;
  background: #83a9ac;
  transition: background 0.4s ease;
}
.btn-dark:hover {
  background: #8eccd0;
}
