.showcase {
  background-color: var(--color-dark-bg);
  min-height: 100vh;
}

.showcase-container {
  padding: 2rem 13rem 5rem 16rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

.showcase__text-content,
.showcase__image-content {
  flex: 1;
}
.showcase__text-content {
  padding-top: 6rem;
}

.showcase__text {
  color: var(--color-light-text);
  font-family: var(--font-family-title);
  font-size: 8.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 95.031%; /* 7.6975rem */
  letter-spacing: 0.2025rem;
  margin-bottom: 2.3rem;
}
.showcase__subtext {
  color: var(--color-dark-text);
  margin-bottom: 3rem;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 179.625%; /* 3.4129rem */

  width: 85%;
}
