/* RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element Styling */

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Resuable  */

.container {
  padding: 3.6rem;
}
