/* RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element Styling */

html {
  font-size: 62.5%;
  /* color-scheme: light dark; */
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Resuable  */

.container {
  max-width: 1400px;
  margin: auto;
  padding-inline: 4rem;
}

/* Underlines */

.underline-light,
.underline-dark {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline-light::after,
.underline-dark::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  left: 0;
  height: 15px;
  width: 110%;
}
.underline-light::after {
  background-color: var(--color-light-bg);
}

.underline-dark::after {
  background-color: var(--color-dark-bg);
}

/* Media Queries */

@media only screen and (min-width: 1600px) {
  .container {
    max-width: unset;
    margin: auto;
    padding-inline: 7rem;
  }
}
