/* RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Element Styling */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* color-scheme: light dark; */
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Resuable  */

.container {
  max-width: 1400px;
  margin: auto;
  padding-inline: 4rem;
}

/* This target all the light section titles */

.section__title {
  text-align: center;
  color: var(--color-light-text);
  font-family: var(--font-family-title);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 142.938%; /* 105.774px */
  letter-spacing: 2.59px;
  margin-bottom: 0.2rem;
}

.section__subtext {
  text-align: center;
  color: var(--color-light-text);
  font-family: var(--font-family-title);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  /* 37.905px */
  letter-spacing: 0.84px;
  margin-bottom: 8.5rem;
}

/* Underlines */

.underline {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 75%;
  left: 0;
  height: 15px;
  width: var(--myWidth);
}

.underline-light::after {
  background-color: var(--color-light-bg);
}

.underline-dark::after {
  background-color: var(--color-block);
}

/* CSS Animation */

/* Media Queries */

@media only screen and (min-width: 1600px) {
  .container {
    max-width: unset;
    margin: auto;
    padding-inline: 7rem;
  }
}
