@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* Font Variable */
  --font-family-title: "DM Serif Display", serif;
  --font-family-text: "Poppins", sans-serif;

  /* Color Variables */
  --color-dark-bg: #242a2f;
  --color-light-bg: #83a9ac;
  --color-accent-bg: #9dd1d4;
  --color-block: #273541;
  --color-light-text: #ffffff;
  --color-dark-text: #d2d2d2;
}
